<!DOCTYPE html>
<html lang="en">
  {{extend:templates/head.html}}
  <body>
    {{extend:templates/nav.html}}
    <div class="container-xxl">
      <h2 class="text-center">Upload a new recipe </h2>
      <div class="container">
        <form action="addRecipe.html" method="POST" class="needs-validation" id="registerForm" novalidate>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" autocomplete="off" required>
                <label for="name">Recipe Name</label>
                <div class="invalid-feedback">
                  Please enter a name.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <div class="form-floating">
                <select name="cuisine" id="cuisine" class="form-select" required>
                  <option value="Chinese">Chinese</option>
                  <option value="French">French</option>
                  <option value="Italian">Italian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Greek">Greek</option>
                  <option value="Spanish">Spanish</option>
                  <option value="Mediterranean">Mediterranean</option>
                  <option value="Lebanese">Lebanese</option>
                  <option value="Moroccan">Moroccan</option>
                  <option value="Turkish">Turkish</option>
                  <option value="Thai">Thai</option>
                  <option value="Indian">Indian</option>
                  <option value="Cajun">Cajun</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="German">German</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Russian">Russian</option>
                  <option value="Hungarian">Hungarian</option>
                  <option value="American">American</option>
                  <option value="Fusion">Fusion</option>
                  <option value="Creative">Creative</option>
                  <option value="Other">Other</option>
                </select>
                <label for="cuisine">Cuisine type</label>
              </div>
              
              <div class="invalid-feedback">
                Please specify which cuisine this is.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <div class="form-floating">
                <select name="difficulty" id="difficulty" class="form-select" required>
                  <option value="low">Low</option>
                  <option value="medium">Medium</option>
                  <option value="high">High</option>
                </select>
                <label for="difficulty">Recipe difficulty</label>
              </div>
              
              <div class="invalid-feedback">
                Please specify which cuisine this is.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <h6>Recipe duration</h6>
              <div class="row mb-3">
                <div class="col-6">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="durationHour" name="durationHour" placeholder="Duration" autocomplete="off" value="0" step="1" min="0" required>
                    <label for="durationHour">Hours</label>
                    <div class="invalid-feedback">
                      Please enter the hours as an integer.
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating">
                    <input type="number" class="form-control" id="durationMinute" name="durationMinute" placeholder="Duration" autocomplete="off" value="0" step="1" min="0" required>
                    <label for="durationMinute">Minutes</label>
                    <div class="invalid-feedback">
                      Please enter the minutes as an integer
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <h6>Materials</h6>
              <div id="materials">
                <div class="row g-1 mb-1" id="materialRow1">
                  <div class="form-floating col-9">
                    <input type="text" class="form-control" id="material1" name="materials" placeholder="Material" required autocomplete="off">
                    <label for="material1">Material</label>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-outline-danger h-100 w-100" onclick="deleteInput(materialRow1, 'step')">Delete</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn addNew" onclick="addNew('materials')">Add material</button>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <h6>Steps</h6>
              <div id="steps">
                <div class="row g-1 mb-1" id="stepRow1">
                  <div class="form-floating col-9">
                    <textarea class="form-control highArea" id="step1" name="steps" placeholder="Step" autocomplete="off" required></textarea>
                    <label for="step1">Step</label>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-outline-danger h-100 w-100" onclick="deleteInput(stepRow1, 'steps')">Delete</button>
                  </div>
                </div>
              </div>
              <button type="button" class="btn addNew" onclick="addNew('steps')">Add step</button>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4"></div>
            <div class="col-lg-4 mb-3">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" id="public" name="public" value="true" autocomplete="off">
                <label class="form-check-label" for="public">Make public</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-0 col-lg-4">
            </div>
            <div class="col-lg-4 mb-3">
              <button class="btn btn-outline-success w-100" type="submit">Upload</button>
            </div>
          </div>
        </form>
        {{if:addRecipeError}}
        <div class="row mb-3">
          <div class="col-0 col-md-4">
          </div>
          <div class="col-md-4">
            <div class="text-center alert alert-danger">
              {{replace:addRecipeError}}
            </div>
          </div>
        </div>
        {{endif}}
      </div>
    </div>
    <script src="static/addRecipeToggle.js"></script>
  </body>
</html>