<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-xl">
      <a class="navbar-brand" href="/">Recipes</a>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-1 mt-lg-0">
          {{if:login}}
          <li class="nav-item">
            <a class="nav-link" href="#">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addRecipe.html">Upload recipe</a>
          </li>
          {{endif}}
        </ul>
        {{ifnot:login}}
        <form 
          class="d-flex my-1 my-lg-0 mx-md-1 needs-validation d-flex justify-content-end"
          action="/"
          method="POST"
          novalidate
        >
          <div class="row g-1">
            <div class="col-12 col-md-8">
              <div class="row g-1">
                <div class="col-12 col-md-6">
                  <input
                    class="form-control me-md-2"
                    type="text"
                    name="username"
                    placeholder="Username"
                    autocomplete="on"
                    required
                  />
                </div>
                <div class="col-12 col-md-6">
                  <input
                    class="form-control me-md-2"
                    type="password"
                    name="password"
                    placeholder="Password"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              {{if:loginError}}
              <div class="row">
                <div class="col-12\">
                  <div class="alert alert-danger text-center p-0">
                    {{replace:loginError}}
                  </div>
                </div>
              </div>
              {{endif}}
            </div>
            <div class="col-12 col-md-2">
              <input
                class="btn btn-outline-success my-1 my-md-0 w-100"
                type="submit"
                value="Login"
              />
            </div>
            <div class="col-12 col-md-2">
              <a
                  class="btn btn-outline-success my-1 my-md-0 w-100"
                  href="/register.html"
                >
                  Register
              </a>
            </div>
          </div>
        </form>
        {{endif}}
        {{if:login}}
        <div class="ms-auto me-2 mt-1 mt-lg-0">
          {{replace:username}}
        </div>
        <a href="/logout.html" class="btn btn-outline-success my-1 my-md-0">Logout</a>
        {{endif}}
      </div>
    </div>
</nav>