<div class="col-12 col-md-6 col-lg-4 my-1">
    <a href="recipe/{{replace:_id}}" class="cardLink">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title text-center">{{replace:name}}</h3>
            <p class="card-text px-5">
                Cuisine: {{replace:cuisine}}
                <br>
                Difficulty: {{replace:difficulty}}
                <br>
                Duration: 
                {{if:durationHours}}
                {{replace:durationHours}} hour 
                {{endif}}
                {{if:durationMinutes}}
                {{replace:durationMinutes}} minutes
                {{endif}}
                <br>
                Likes: {{replace:favCount}}
                <br>
                Uploaded by: {{replace:owner}}
            </p>
            </div>
        </div>
    </a>
</div>